*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: url('hand.png') 10 10,auto;
}

@font-face {
  font-family: 'Bebon';
  src: url('BebonVF.woff') format('woff-variations');
}

body::-webkit-scrollbar {
	width: 0.5em;
  }
   
  body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
  }

:root{
	--wdth: 100;
	--color: silver;
}

body{
	font-family: 'Arial';
	font-weight: 100;
	font-style: normal;
	font-size: 30px;
	line-height: 1.5;
	margin-bottom: 4rem;
	color:  var(--color);
	background-color: darkgreen;
}

/* dragable element style*/
/*use class instead of id because there will be multiple*/
#mahjong {
	display:inline;
}

.block{
	position: absolute;
	border-radius: 8px;
	border: 2px solid silver;
	box-shadow: 5px 5px silver;
	text-align: center;
	padding: 10px;
	font-family: 'Bebon';
	font-variation-settings: 'wdth' var(--wdth);
	line-height: 100%;
	font-size: 6vw;
	font-weight: normal;
	text-transform: uppercase;
	--wdth: 100;
	background-color: darkgreen;
}

/* button style*/
.pic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 48vw;
	user-select: none;
}

#buttons{
	text-align: center;
}
button{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width: 10vw;
	font-family: 'Arial';
	font-variation-settings: 'wdth' 100;
	font-size: 1vw;
	color: silver;
	background: darkgreen;
	border-radius: 16px;
	outline: none;
	border: 6px solid silver;
	padding: 1em;
}
button:hover{
	cursor: url('point.png') 10 10,auto;
	color: darkgreen;
	background: silver;
	border: 6px solid darkgreen;
}

#moreblocks {
	display: flex;
	margin-top: -26.5vw;
}

#explore {
	display: block;
	margin-top: 24vw;
}

#back {
	display: block;
}




h1 {
	font-family: Bebon;
	font-variation-settings: 'wdth' var(--wdth);
	font-size: 8vw;
	font-weight: normal;
	text-transform: uppercase;
	--wdth: 100;
	}

#alphabet {
	text-align: center;
}

.letter {
	transition: font-variation-settings .3s ease-in, color .3s ease-in;
	display: inline;
	line-height: 100%;
	margin-left: 0em;
	margin-right: 0em;
	text-align: center;
}

.letter:hover {
	--wdth: 200;
	color: rgb(255, 255, 255);
	transition: font-variation-settings .3s ease-in,
	background-color .3s ease-in, color .3s ease-in;
	}

hr {
	width:94vw;
	display: block;
	margin-left: auto;
	margin-right: auto;
  }

.magmatic, .magmatic *{
	font-variation-settings: 'wdth' var(--wdth);
}

section{
	margin: 3rem 0;
}

#intro{
	font-family: 'Bebon';
	font-size:14vw;
	line-height: 0.9;
	text-align: center;
}

#content{
	font-family: 'Bebon';
	width: 33em;
	height: 500px;
	margin: auto;
	font-weight: 100;
}

#content p{
	transition: font-variation-settings 400ms ease-in-out;
}

/*SLIDER STYLES*/

#sliders ul{
	margin: auto;
}
#sliders li{
	display: flex;
	justify-content: center;
}

.range-name, .min, .max{
	width: 100px;
}
.min{
	text-align: right;
}
.range-name::after{
	content: ': ';
}

input.axis-range{
	width: 580px;
	margin: 0 20px;
	cursor: url('point.png') 10 10,auto;
}